// color
$black: #333;
$white: #fff;
$pink: #f89393;
$pink-lighter: #F0DFE2;
$grey: #fcfafa;
$grey-lighter: #c9c9c9;

$primary-color: $pink;

// base
$color-base-font-main: $black;
$color-base-font-sub: $white;
$color-base-background-main: $white;

// form
$color-form-border: $grey-lighter;
$color-form-marker: $primary-color;