//ブレイクポイント
$breakpoints: (
  sss: 300,
  ss: 400,
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

//メディアクエリー
$mediaquerys: (
  sss: "screen and (min-width: #{map-get($breakpoints,'sss')}px),print",
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px),print",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px),print",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px),print",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px),print",
);

// ブレイクポイントの設定
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// テキストの最大行設定
@mixin maximumLine($line: line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
}

// 
@mixin flexVerticalCenter {
  display: flex;
  align-items: center;
  height: inherit;
}