@use "sass:math";

// インナー幅設定
$inner: 1000px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

// ヘッダーメニュー高さ
$header-height: 100px;

// z-index
$layer: (
  header: 100,
  header-menu: 50,
  drawer: 10,
  default: 1
);

// transition
$transition: 0.3s;
$transition-slow: 0.6s;